/* global settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 10px;
    background-color: rgb(55, 55, 55);
}

.wrapper {
    margin: auto;
    height: 60rem;
    width: 30rem;
    border: 10px solid;
    border-radius: 40px;
    position: relative;
    box-shadow: 0px 0px 15px;
}

.screen {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-image: url(./img/wallpaper.jpeg);
    background-size: cover;
}

 .notch {
    display: flex;
    position: absolute;
    top: 0;
    left: 6rem;
    justify-content: flex-end;
    height: 3rem;
    width: 16rem;
    border-radius: 0px 0px 10px 10px;
    background-color: black;
}

.camera {
    margin-right: 1.7rem;
    background-color: rgb(61, 13, 13);
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 40px;
} 

.top-bar {
    width: 100%;
    height: 3rem;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}
.svg {
    margin-right: 1rem;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    justify-content: space-around;
}

.icons1 {
    margin-top: 5rem;
}

.icons a {
    list-style-type: none;
    z-index: 1;
    background-color: white;
    color: rgb(50, 48, 48);
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    box-shadow: 0px 5px 5px;
    cursor: pointer;
    /* transform: transform 1s ease-in-out; */
    transition: 0.5s;
}

.app:nth-child(1) {
    background-image: url(./img/netflix-logo.png);
    background-size: cover;
}

.app:nth-child(2) {
    background-image: url(./img/calculator-logo.png);
    background-size: cover;
}

.app:nth-child(3) {
    background-image: url(./img/telephone-logo.png);
    background-size: cover;
}

.app:nth-child(4) {
    background-image: url(./img/contacts-logo.png);
    background-size: cover;
}

.icons a:hover {
    transform: scale(1.05);
    filter: gray;
    filter: grayscale(0.4);
    transition: all .1s ease-in-out;
}

/*  */
/*  */
/* Styling calculator */
/*  */
/*  */


.calculatorScreen {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    background-color: rgb(5, 5, 5);
    color: white;
}

.calculatorDisplay {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2rem 1.5rem;
    font-size: 6rem;
    width: 100%;
    height: 40%;
    text-align: right;
}

.calculatorScreen button {
    background: transparent;
    font-size: 3rem;
    border-radius: 50%;
    border: none;
    background-color: rgb(35, 35, 35);
    color: white;
}

.calculatorScreen .panel {
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

.calculatorScreen .operator {
    font-size: 2.8rem;
    background-color: orange;
}

.calculatorScreen .clear, .calculatorScreen .gray, .calculatorScreen .equals {
    background-color: orange;
    font-size: 2.5rem;
}

.calculatorScreen .active {
    background-color: white;
    color: orange;
    transition: all 0.4s ease-in-out;
}

.calculatorScreen .zero {
    grid-row: 5/6;
    grid-column: -5/-3;
    border-radius: 35px;
    text-align: left;
    padding-left: 2.3rem;
}

.calculatorScreen .gray {
    background-color: rgb(152, 152, 152);
    color:rgb(0, 0, 0);
}

.calculatorScreen .divisionSign {
    font-size: 3.5rem;
}

.calculatorScreen .currentNumber {
    overflow: hidden;
}


/*  */
/*  */
/* Styling netflix */
/*  */
/*  */


.netflixScreen {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    color: red;
}

.loader {
    margin-top: 3rem;
    margin-bottom: 2rem;
    border: 0.4rem solid #000000;
    border-top: 0.4rem solid #ff0000; 
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 1s infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }